{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 3em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    a {
        text-decoration-line: none;
    }
</style>

<div class="example-wrapper">
    <div class="row my-2">
        <div class="col-12 col-lg-4 rounded border-lg p-md-3 p-sm-2 mb-3">
            <ul class="p-lg-3 list-group">
                {% if account | default(false) %}
                    <li class="list-group-item"><a href="{{ path('app_account_profile', { 'slug' : account.slug } ) }}">My Profile</a></li>
                {% else %}
                    <li class="list-group-item"><a href="{{ path('login_page') }}">Login</a></li>
                {% endif %}
                <li class="list-group-item"><a href="{{ path('app_post_new') }}">Create Post</a></li>
            </ul>
        </div>
        <div class="col-12 col-lg-8">
            {{ block("loadposts", "blocks/loadposts.html.twig") }}
        </div>
    </div>
</div>
{% endblock %}
